<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeptMapper">
    <!--public List<Dept> findAll() { }-->
    <!--
    1、普通模式，写全路径，如 com.jiangjf.pojo.Dept
    2、别名模式，见sqlMapConfig.xml的typeAliases配置
    <select id="findAll" resultType="com.jiangjf.pojo.Dept">
    -->
    <select id="findAll" resultType="dept">
        select * from dept
    </select>

    <select id="findOne" resultType="dept">
        select * from dept where deptno = 10
    </select>
</mapper>