<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
1、接口的名字和Mapper映射文件名称必须保持一致（不包含扩展名），如 EmpMapper.java、EmpMapper.xml，都是EmpMapper
2、Mapper映射文件的namespace必须是接口的全路径名，如 namespace="com.jiangjf.mapper.EmpMapper"
3、sql语句的id必须是对应方法的名称，如 id="findAll"
4、EmpMapper.xml映射文件，保证编译后和接口放在同一个目录下
-->
<mapper namespace="com.jiangjf.mapper.ProjectMapper">

    <!--
    Project findProjectJoinEmpsByPid(int pid);
    -->
    <resultMap id="resultProjectMap" type="project">
        <id column="pid" property="pid"></id>
        <result column="pname" property="pname"></result>
        <result column="money" property="money"></result>
        <!--
        collection 处理一对多关系的标签
        ofType 集合里元素对应哪个对象
        -->
        <collection property="projectRecords" ofType="projectRecord">
            <id column="empno" property="empno"></id>
            <result column="pid" property="pid"></result>

            <!--
            property ProjectRecord的emp属性
            javaType 元素对应哪个对象
            -->
            <association property="emp" javaType="emp">
                <id column="empno" property="empno"></id>
                <result column="ename" property="ename"></result>
                <result column="job" property="job"></result>
                <result column="sal" property="sal"></result>
                <result column="hiredate" property="hiredate"></result>
                <result column="mgr" property="mgr"></result>
                <result column="comm" property="comm"></result>
                <result column="deptno" property="deptno"></result>
            </association>
        </collection>
    </resultMap>

    <select id="findProjectJoinEmpsByPid" resultMap="resultProjectMap">
        SELECT *
        FROM project p
        LEFT JOIN projectrecord pr on pr.pid = p.pid
        LEFT JOIN emp e on e.empno = pr.empno
        WHERE p.pid = #{pid}
    </select>

</mapper>