<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
1、接口的名字和Mapper映射文件名称必须保持一致（不包含扩展名），如 EmpMapper.java、EmpMapper.xml，都是EmpMapper
2、Mapper映射文件的namespace必须是接口的全路径名，如 namespace="com.jiangjf.mapper.EmpMapper"
3、sql语句的id必须是对应方法的名称，如 id="findAll"
4、EmpMapper.xml映射文件，保证编译后和接口放在同一个目录下
-->
<mapper namespace="com.jiangjf.mapper.DeptMapper">
    <!--
    Dept findDeptByDeptno(int deptno);
    -->
    <resultMap id="deptJoinEmps" type="dept">
        <id column="deptno" property="deptno"></id>
        <result column="dname" property="dname"></result>
        <result column="loc" property="loc"></result>
        <!--
        select="com.jiangjf.mapper.EmpMapper.findDeptByDeptno" 调用的另一个SQL语句
        property="empList" 对应dept的Emp对象的List集合
        javaType="list" 实体类的属性数据类型
        column="deptno" 给另一个SQL语句传入的参数列
        jdbcType="INTEGER" 参数对应的JDBC的数据类型
        fetchType="eager" 加载方式：eager 积极加载 lazy 延迟加载
        -->
        <collection select="com.jiangjf.mapper.EmpMapper.findEmpsByDeptno"
            property="empList" javaType="list" column="deptno" jdbcType="INTEGER"
            fetchType="lazy">
            <!--字段如果对应，可以不用显式的定义映射-->
            <!--<id column="empno" property="empno"></id>
            <result column="ename" property="ename"></result>
            <result column="job" property="job"></result>
            <result column="sal" property="sal"></result>
            <result column="hiredate" property="hiredate"></result>
            <result column="mgr" property="mgr"></result>
            <result column="comm" property="comm"></result>
            <result column="deptno" property="deptno"></result>-->
        </collection>

    </resultMap>
    <select id="findDeptByDeptno" resultMap="deptJoinEmps">
        select * from dept where deptno = #{deptno}
    </select>
</mapper>